* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner-background-img {
    width: 100%;
    height: 100%;
}

.banners-gallery {
    width: 100%;
    height: 50vh;
    margin-top: 75px;
}

.banner-text-container {
    position: absolute;
    left: 15%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-text-container div,
.banner-text-container h2,
.banner-text-container h3 {
    padding: 5px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.banner-subtitle {
    margin: 0;
    background: rgb(220, 103, 103);
}

.banner-text {
    margin: 0;  
    background: rgb(49, 48, 48);
}

.banner-title {
    margin: 5px 0;
    background: rgb(49, 48, 48);
}

.header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(49, 48, 48);
    color: rgb(255, 255, 255);
}

.header-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav-container:last-child {
    margin-right: 0;
}

.header-nav-link {
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header-nav-link:hover {
    background: rgb(220, 103, 103);
}

.phone-number-container {
    position: fixed;
    top: 75px;
    right: 15%;
    height: 25px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: rgb(220, 103, 103);
}

.phone-icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(230, 17, 17);
}

.phone-icon {
    width: 20px;
    height: 20px;
}

.phone-number {
    height: 25px;
    margin: 0 2px;
    line-height: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.post-card {
    flex: 1;
    margin: 0 5px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    color: #000;
}

.post-card h5,
.post-card h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

.post-content {
    box-sizing: border-box;
    max-height: 40px;
    padding: 0 10px;
    z-index: 100;
    overflow: hidden;
}

.post-content:hover {
    animation: post-content-rise 0.5s ease-in-out 0s;
}

.posts-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15vw 20px 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.posts-container h4,
.posts-container h5 {
    text-transform: uppercase;
}

.post-image {
    width: 100%;
}

.posts-section-container {
    width: 100%;
    min-height: calc(50vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(rgba(49, 48, 48, 0.8),rgba(49, 48, 48, 0.8)), url('./img/banner-placeholder.png');
    background-size: cover;
}

.posts-section-title {
    margin: 20px 0;
    text-transform: uppercase;
    color: #ffffff;
}

.posts-section-title h4 {
    margin: 10px 0 0 0;
}

.posts-section-title hr {
    width: 20%;
}

.scroll-btn {
    position: absolute;
    top: 30%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: rgb(49, 48, 48);
    color: #ffffff;
    border-radius: 50%;
    border: none;
    user-select: none;
}

.scroll-btn:hover {
    background-color: #778899;
}

#scroll-left-btn {
    left: 10%;
}

#scroll-right-btn {
    right: 10%;
}

@media (max-width: 800px) {
    .banner-text-container {
        left: 10%;
    }
    .header-content {
        width: 80%;
    }
    .phone-number-container {
        right: 10%;
    }
    .posts-container {
        padding: 0 10vw;
    }
    #scroll-left-btn {
        left: 3%;
    }
    #scroll-right-btn {
        right: 3%;
    }
}

@keyframes post-content-rise {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
        overflow: auto;
    }
    100% {
        transform: translateY(-80px);
        overflow: hidden;
    }
}
